* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: press2p;
    background: #fdffcd;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
  /* MAP, MESSAGE AND TITLE  */
#message { 
  margin-top: 3rem;
  margin-left: 5rem;
  }

  /* BOARD SETUP */

  .grid-wrapper {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .player-grid, .ai-grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin-left: 28px;
  }

  .ai-grid {
    cursor: url(./assets/targetVector.png), cell;
    }
  
  .player-grid > div, .ai-grid > div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 2.8rem;
    width: 2.8rem;
  }

  .player-rows, .ai-rows {
    font-size: 18px;
    margin-left: 2.55rem;
    gap: 1.65rem;
    display: flex;
  }

  .player-columns, .ai-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    font-size: 18px;
    margin-top: 0.7rem;
    gap: 1.7rem;
    align-items: center;
  }
  
  /* SHIP SETUP */
.battleships {
    position: absolute;
    padding: 10px;
}

.ship {
    display: flex;
    flex-direction: row;
}
.ship > div {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid lightgray;
    background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}
.ship > div:hover {
    height:2.8rem;
    width: 2.8rem;
    border: 1px solid lightgray;

}

.over {
    /* border: 1px dotted #666; */
    background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    border: none;

}

#red {
  border: 1.3px dotted white;
  border-radius: 50%;
  background: red;
  color: red;
  text-align: justify;
  max-width: 50%;
  min-height: 50%;
  flex-grow: 1;
  align-items: center;
  margin-top: 25%;
  margin-left: 25%;
}
#green {
  border: 1.3px dotted white;
  border-radius: 50%;
  background: green;
  color: green;
  text-align: justify;
  max-width: 50%;
  min-height: 50%;
  flex-grow: 1;
  align-items: center;
  margin-top: 25%;
  margin-left: 25%;
}

[id-hover='over'] {
  border: 1px dotted #666;
  background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
