* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
 
    50% {
        background-position: 100% 50%;
    }
 
    100% {
        background-position: 0% 50%;
    }
}
  
  /* BOARD SETUP */

  .grid-wrapper {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .player-grid, .ai-grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 450px;
    width: 450px;
  }
  
  .player-grid > div, .ai-grid > div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 2.8rem;
    width: 2.8rem;
  }
  
  /* SHIP SETUP */
.battleships {
    position: absolute;
    padding: 10px;
}

.ship {
    display: flex;
    flex-direction: row;
}
.ship > div {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid lightgray;
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
}
.ship > div:hover {
    height:2.8rem;
    width: 2.8rem;
    border: 1px solid lightgray;

}

.over {
    /* border: 1px dotted #666; */
    background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
    background-size: 400% 400%;
    animation: gradient 15s ease infinite;
    border: none;
}

[id-hover='over'] {
  border: 1px dotted #666;
  background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
}
