* {
    box-sizing: border-box;
  }
  
  body {
    height: 100vh;
    margin: 0;
    font-family: press2p;
    background: #fdffcd;
    overflow: hidden;
}


@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  
  50% {
    background-position: 100% 50%;
  }
 
  100% {
    background-position: 0% 50%;
  }
}

@keyframes move {
  0% { top: 0; right: 0}
  50% { top: 15%; right:15%}
  100% { top: 0; right: 0}
}

/* LANDING PAGE */

.landing-page {
  background-image: url(../assets/introbgimg.gif);
  background-size: cover;
  background-size: 50%;
  z-index: 1;
  height: 200vh;
}

#f0, #f1, #f2 {
  text-align: center;
  display: flex;
  margin-left: 45vw;
  background-color: #d9ff0f;
  color: #666;
  border: none;
  margin-top: 0px;
}
#f0:hover, #f1:hover, #f2:hover {
  text-align: center;
  display: flex;
  background-color: #666;
  color: #d9ff0f;
  border: none;
}

#f1, #f2 {
  margin-top: 35px;
}

/* ENDING PAGE */

.ending-page{
  background-image: url(../assets/bgimg.webp);
  z-index: 1;
  height: 100vh;
}

.endTitle, .endMessage{
  color:#d9ff0f;
  text-align: center;
}

.endMessage {
  margin-top: 300px;
}

#restart {
margin-top: 5vh;
margin-left: 37vw;
background-color: darkgray;
color: #d9ff0f;
border: none
}

#restart:hover {
  background: #d9ff0f;
  color: darkgray;
}
/* SCOREBOARD, MESSAGE AND TITLE  */
#message { 
  margin-top: 1rem;
  margin-left: 5rem;
  text-align: center;
  }

  .scoreboard {
    padding: 15px 10px 0px;
    font-size: 16px;
    position: absolute;
    top: 50px;
    left: 10px;
    visibility: hidden;
    border-radius: 10%;
    background-color: #B6CD41;
  }

  /*HAND MOVEMENT */
  .moving-div {
    width: 20px;
    height: 20px;
    animation: move 3s linear infinite;
    margin-left: 15rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
}


/* MODAL */
.modal-content, .modal-header, .modal-footer {
  text-align: center;
  background-color: #d9ff0f;
  border: none
}
  #coin-flip {
    visibility: hidden;
    font-family: press2p;
    background-color: darkgray;
    color: #fdffcd;
    margin-left: 39rem;
    border-style: none;
  }
  #coin-flip:hover {
    font-family: press2p;
    background-color: #fdffcd;
    color: darkgray;
    margin-left: 39rem;
  }

  #heads, #tails {
    color: #fdffcd
  }
  #heads:hover, #tails:hover {
    background-color: #fdffcd;
    color: darkgray;
    border: none;
  }

  #heads {
    margin-right: 15rem;
  }

  /* BOARD SETUP */

  .grid-wrapper {
    height: 75vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  
  .player-grid, .ai-grid {
    align-items: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2);
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    justify-content: center;
    height: 450px;
    width: 450px;
    margin-left: 28px;
  }

  .ai-grid {
    cursor: url(../assets/targetVector.jpg), cell;
    }
  
  .player-grid > div, .ai-grid > div {
    border: 1px solid lightgrey;
    flex-grow: 1;
    height: 2.8rem;
    width: 2.8rem;
  }

  .player-rows, .ai-rows {
    font-size: 18px;
    margin-left: 2.55rem;
    gap: 1.65rem;
    display: flex;
  }

  .player-columns, .ai-columns {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: absolute;
    font-size: 18px;
    margin-top: 0.7rem;
    gap: 1.1rem;
    align-items: center;
  }

  .grid-name{
    display: flex;
    margin-left: 11vw;
    color: #BEDF11;
    margin-bottom: 10px;
  }
  
  /* SHIP SETUP */
.battleships {
    position: absolute;
    padding: 10px;
}

.ship {
    display: flex;
    flex-direction: row;
}
.ship > div {
    height: 1.4rem;
    width: 1.4rem;
    border: 1px solid lightgray;
    background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
}
.ship > div:hover {
    height:2.8rem;
    width: 2.8rem;
    border: 1px solid lightgray;

}

.over {
    /* border: 1px dotted #666; */
    background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
    background-size: 400% 400%;
    animation: gradient 7s ease infinite;
    border: none;

}

#red {
  border-radius: 50%;
  color: #fc3a52;
  text-align: justify;
  max-width: 50%;
  min-height: 50%;
  flex-grow: 1;
  align-items: center;
  margin-left: 25%;
  font-size: 25px;
}
#green {
  border-radius: 50%;
  color: #2eb872;
  text-align: justify;
  max-width: 50%;
  min-height: 50%;
  flex-grow: 1;
  align-items: center;
  margin-left: 25%;
  font-size: 25px;
}

[id-hover='over'] {
  border: 1px dotted #666;
  background: linear-gradient(-45deg, #41ff4d, #2bc190, #d9ff0f, #ffcc3c);
  background-size: 400% 400%;
  animation: gradient 7s ease infinite;
}
